<header>
  <nav class="top-bar" id="menu">

    <ul class="title-area">
      <li class="name">
        <h1><a href='/'>RigData</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    <ul>

    <section class="top-bar-section menu-icon">
      <ul class="right">
        <li class="divider"></li>
        <li><a ng-href="/#/">Home</a></li>
        <li class="divider"></li>
        <li><a ng-href="/#/help">Help</a></li>
        <li class="divider"></li>
        <li><a ng-href="http://github.com/auser/rigdata">Github</a></li>
      </ul>
    </section>
  </nav>
</header>

