html, body {
  margin:0;
  border:0;
  padding:0;
  color: #111;
}
div.centered {
  margin:auto;
  font-size:40px;
  width:40em; /* So we get about 10 words per line */
}
.slideCount {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

body {
  background: #223;
  background: -webkit-gradient(linear, left top, left bottom, from(#abb), to(#444));
  background: -moz-linear-gradient(top,  #334,  #112);
}
img {
  position: absolute;
  top: 100px;
  right: 100px;
}
.bg {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  opacity:0.01;
  z-index:-1;
}
code {
  color: rgb(35,174,108);
}
