 /*
  *= require foundation.min
  */

body {
  background: #eee;

  #content {
  }
}

.bar rect {}

.bar text {
  font-size: .5em;
}

.axis path, .axis line {
  stroke: black;
  shape-rendering: crispEdges;
}